[Desktop Entry]
Name=Ubuntu-box
GenericName=Terminal entering Ubuntu-box
Comment=Terminal entering Ubuntu-box
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  ubuntu-box
Icon=/home/anandhuprakash/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Ubuntu-box from system
Exec=/usr/bin/distrobox rm  ubuntu-box
